<form class="form" [formGroup]="postForm" (ngSubmit)="createSkopp()">
    <div class="form-group">
        <textarea class="form-control" formControlName="postInput" rows="3" placeholder="Tapez votre micro-Skopp..."></textarea>
    </div>
</form>

<button type="button" class="btn btn-secondary mr-2"><i class="fa fa-paperclip" aria-hidden="true"></i> Joindre</button>
<button type="button" class="btn btn-primary" (click)="createSkopp()">Envoyez votre Skopp <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
<hr>

<div *ngFor="let post of postsList.slice().reverse()">
    <div class="card mb-3" >
        <div class="card-body">
          <h5 class="card-title"><b>{{ post.user.nom }}</b> a écrit:</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.date| date }}</h6>
          <p class="card-text">{{ post.contenu }}</p>
          <div class="actions" align="right">
            <span class="mr-2">{{ post.nb_like }}</span> <button type="button" (click)="addFeatureToPost(post.id, 1)" 
            [ngClass]="!isUserLiked(post) ? 'btn btn-light' : 'btn btn-dark'"><i class="fa fa-heart" aria-hidden="true"></i></button>
            <button type="button" [ngClass]="!post.responseActive ? 'btn btn-light' : 'btn btn-dark'"><i class="fa fa-reply" aria-hidden="true" 
            (click)="post.responseActive = !post.responseActive"></i></button>
            <button type="button" (click)="addFeatureToPost(post.id, 2)" [ngClass]="!isUserSaved(post) ? 'btn btn-light' : 'btn btn-dark'"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="ml-5 mb-3" *ngIf="post.responseActive === true">
        <form class="form" [formGroup]="responseForm" (ngSubmit)="reponseSkopp(post)">
            <div class="form-group">
                <textarea class="form-control" formControlName="reponseInput" rows="3" placeholder="Tapez votre réponse à ce Skopp..."></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-primary" (click)="reponseSkopp(post)">Répondre au Skopp <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
      
        <div class="card mb-3 ml-5" *ngFor="let response of post.responses.slice().reverse()">
          <div class="card-body">
            <h5 class="card-title"><b>{{ response.user.nom }}</b> a répondu:</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ response.date | date }}</h6>
            <p class="card-text">{{ response.contenu }}</p>
          </div>
        </div>
</div>
