<div *ngFor="let post of postsList.slice().reverse()">
  <div class="card mb-3" >
      <div class="card-body">
        <h5 class="card-title"><b>{{ post.user.nom }}</b> a écrit:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.date| date }}</h6>
        <p class="card-text">{{ post.contenu }}</p>
      </div>
    </div>
  
      <div class="card mb-3 ml-5" *ngFor="let response of post.responses.slice().reverse()">
        <div class="card-body">
          <h5 class="card-title"><b>{{ response.user.nom }}</b> a répondu:</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ response.date | date }}</h6>
          <p class="card-text">{{ response.contenu }}</p>
        </div>
      </div>
</div>
